@use "./login" as *; // reuse shared form styles
.info {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    line-height: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    input {
        padding: 10px;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        &:focus {
            border-color: #1b5fc4;
        }
    }
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background: #c91e32;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        background: #a31728;
    }
}

.alt-text {
    margin-top: 15px;
    text-align: center;
    a {
        color: #1b5fc4;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}


/* Responsive */

@media (max-width: 480px) {
    .title {
        font-size: 20px;
    }
}